.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 28px auto 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: 20px 0 60px;
}